canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 0, 0, 0); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it is above everything */
}

#countdown {
  font-size: 12rem;
  color: rgb(5, 122, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#pauseButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  color: whitesmoke;
  border: 2px solid purple;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000; /* Ensure it appears on top */
}

#pauseButton:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Add a hover effect with slight transparency */
}

#pauseButton:active {
  background-color: rgba(255, 255, 255, 0.5); /* Add an effect for active state */
}